beautifulsoup4==4.6.3
cloudinary==1.12.0
Django==1.11.22
django-throttle-requests==0.5.5
lxml==4.6.3
mock==2.0.0
PILLOW==5.2.0
pytesseract==0.2.4
pytz==2018.5
requests==2.22.0
tqdm==4.28.1
urllib3==1.25.3
whitenoise==4.0
