{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125587625-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125587625-1');
    </script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    {% block title %}
        <title>e-movies</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="favicon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous">
    </script>
</head>
<body>
<div class="container">
    {% block header %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{% url 'movie-list' %}">
                        <img src="{% static 'images/logo2.png' %}" width="150"/>
                    </a>
                </div>
                <center>
                    <div class="margin-top-17">

                        <form method="GET" action="{% url 'movie-list' %}" class="form-inline">
                            <div class="form-group">
                                <input type="text" value="{{ request.GET.search }}" name='search'
                                       placeholder="Search term" class="form-control">

                            </div>
                            <div class="form-group">
                                <select name="search_by" class="form-control">
                                    {# TODO: refactor if, make a template or filter or cookies in views? #}
                                    <option value="title" {% if request.GET.search_by == 'title' %}selected {% endif %}>by title</option>
                                    <option value="actors" {% if request.GET.search_by == 'actors' %}selected {% endif %}>by actor</option>
                                    <option value="directors" {% if request.GET.search_by == 'directors' %}selected {% endif %}>by director</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select name="category" class="form-control" id="category">
                                    <option value='all' selected>All</option>
                                    {% for option in category_options %}
                                        <option value={{ option }} {% if request.GET.category == option %}selected {% endif %}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select name="type" class="form-control" id="type">
                                    <option value='all' {% if request.GET.type == 'all' %}selected {% endif %}>All</option>
                                    <option value='movie' {% if request.GET.type == 'movie' %}selected {% endif %}>Only movies</option>
                                    <option value='series' {% if request.GET.type == 'series' %}selected {% endif %}>Only series</option>
                                </select>
                            </div>
{#                            <div class="form-group">#}
{#                                <label for="imdb_score">Imdb score</label>#}
{#                                <select name="imdb_score" class="form-control" id="imdb_score">#}
                                    {# range in django template #}
{#                                    {% for i in "x"|ljust:"10" %}#}
{#                                        {% if request.GET.imdb_score %}#}
{#                                            <option value="{{ forloop.counter0 }}"#}
{#                                                    {% if request.GET.imdb_score == forloop.counter0|stringformat:"i" %}selected {% endif %}>#}
{#                                                >{{ forloop.counter0 }}#}
{#                                            </option>#}
{#                                        {% else %}#}
{#                                            {% if forloop.counter0 == 1 %}#}
{#                                                <option value="1" selected>>1</option>#}
{#                                            {% else %}#}
{#                                                <option value="{{ forloop.counter0 }}">#}
{#                                                    >{{ forloop.counter0 }}#}
{#                                                </option>#}
{#                                            {% endif %}#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
                            <button type="submit" value="Search" class="btn btn-default">
                                <span class="glyphicon glyphicon-search"></span>&nbsp;Search
                            </button>
                        </form>
                    </div>
                </center>
            </div>

{#            <div class="container-fluid">#}
{#                <center>#}
{#                    <div class="margin-bottom-17">#}
{##}
{#                        <form method="GET" action="{% url 'random-movie' %}" class="form-inline">#}
{#                            <div class="form-group">#}
{#                                <label for="category">Kategória</label>#}
{#                                <select name="category" class="form-control" id="category">#}
{#                                    <option value='all' selected>Összes</option>#}
{#                                    {% for option in category_options %}#}
{#                                        <option value={{ option }} {% if request.GET.category == option %}selected {% endif %}>{{ option }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="type">Típus</label>#}
{#                                <select name="type" class="form-control" id="type">#}
{#                                    <option value='all' {% if request.GET.type == 'all' %}selected {% endif %}>Összes</option>#}
{#                                    <option value='movie' {% if request.GET.type == 'movie' %}selected {% endif %}>Csak filmek</option>#}
{#                                    <option value='series' {% if request.GET.type == 'series' %}selected {% endif %}>Csak sorozatok</option>#}
{#                                </select>#}
{#                            </div>#}
{#                            <div class="form-group">#}
{#                                <label for="imdb_score">Nagyobb mint</label>#}
{#                                <select name="imdb_score" class="form-control" id="imdb_score">#}
                                    {# range in django template #}
{#                                    {% for i in "x"|ljust:"10" %}#}
{#                                        {% if request.GET.imdb_score %}#}
{#                                            <option value="{{ forloop.counter0 }}"#}
{#                                                    {% if request.GET.imdb_score == forloop.counter0|stringformat:"i" %}selected {% endif %}>#}
{#                                                >{{ forloop.counter0 }}#}
{#                                            </option>#}
{#                                        {% else %}#}
{#                                            {% if forloop.counter0 == 1 %}#}
{#                                                <option value="1" selected>>1</option>#}
{#                                            {% else %}#}
{#                                                <option value="{{ forloop.counter0 }}">#}
{#                                                    >{{ forloop.counter0 }}#}
{#                                                </option>#}
{#                                            {% endif %}#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                <label for="imdb_score">pont</label>#}
{#                            </div>#}
{#                            <button type="submit" value="Search" class="btn btn-default">#}
{#                                <span class="glyphicon glyphicon-random"></span>&nbsp;Random movie#}
{#                            </button>#}
{#                        </form>#}
{#                    </div>#}
{#                </center>#}
{#            </div>#}

        </nav>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block footer %}
        <footer style="margin-top 50px;">
            <hr>
            <center><p>© 2018 All rights reserved by e-movies.eu.</p></center>
        </footer>
    {% endblock footer %}
</div>
</body>
</html>