{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="page-header">
        {% if root_page %}
            <h1>Legnézettebb filmek</h1>
        {% else %}
            <h1>Filmek</h1>
        {% endif %}
    </div>
    <div class="row">
        {% for movie in movie_list %}
            <div class="col-lg-3 col-md-3 col-sm-4 text-center" style="padding-top: 10px; padding-bottom: 10px; ">
                <a href="{% url 'movie-detail' movie.id %}">
                    {% if movie.image_url %}
                        {# {% cloudinary movie.image width=165 height=245 crop="fill" %} #}
                        <img class="cover" src="{{ movie.image_url }}"/>
                    {% else %}
                        <img class="cover" src="{% static "images/_movie_image_default.jpg" %}"/>
                    {% endif %}
                </a>
                <h5 style="padding-top: 10px;">
                    <a href="{% url 'movie-detail' movie.id %}">
                        {{ movie.title }}
                    </a>
                </h5>
            </div>
        {% endfor %}
    </div>
        <ul class="row list-unstyled">
        </ul>

        {% if is_paginated %}
            <div class="text-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}&{{ get_string }}">&laquo;</a></li>
                    {% else %}
                        <li><span>&laquo;</span></li>
                    {% endif %}

                    {% if 1 != page_obj.number %}
                        <li><a href="?page=1&{{ get_string }}">1</a></li>
                    {% else %}
                        <li class="active"><span>1</span></li>
                    {% endif %}

{#                    {% if page_obj.number == 5 %}#}
{#                        <li><a href="?page=2">2</a></li>#}
{#                    {% endif %}#}
                    {% if page_obj.number >= 5 %}
                        <li><span>...</span></li>
                    {% endif %}

                    {% for i in custom_page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ page_obj.number }}</span></li>
                        {% else %}
                            <li><a href="?page={{ i }}&{{ get_string }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

{#                    {% if page_obj.number == end_minus_five %}#}
{#                        <li><a href="?page={{ before_last_page }}">{{ before_last_page }}</a></li>#}
{#                    {% endif %}#}
                    {% if page_obj.number <= end_minus_five %}
                        <li><span>...</span></li>
                    {% endif %}

                    {% if last_page != page_obj.number %}
                        <li><a href="?page={{ last_page }}&{{ get_string }}">{{ last_page }}</a></li>
                    {% else %}
                        <li class="active"><span>{{ last_page }}</span></li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}