{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>List films</h1>
        </div>
        <form method="GET" action="">
            <input type="text" value="{{ request.GET.search }}" name='search' placeholder="Search in titles, description">
            <input type="submit" value="Search">
        </form>

        <ul class="row list-unstyled">
            {% for movie in movie_list %}
                <a href="{% url 'movie-detail' movie.id %}">
                    <li class="col-md-2 col-sm-3 col-xs-6">
                        {{ movie.title | slice:":20"}}
                        {% if movie.image_url %}
{#                            {% cloudinary movie.image width=165 height=245 crop="fill" %}#}
                            <img class="cover" src="{{ movie.image_url }}"/>
                        {% else %}
                            <img class="cover" src="{% static "images/_movie_image_default.jpg" %}"/>
                        {% endif %}
                    </li>
                </a>
            {% endfor %}
        </ul>

        {% if is_paginated %}
            <div class="text-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class=""><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }}</span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}