{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Movie details</h1>
            <a href="{% url 'movie-list' %}">Movie list</a>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                {% if movie.image %}
                    {% cloudinary movie.image width=260 height=390 crop="fill" %}
                {% else %}
                    <img class="cover" src="{% static "images/_movie_image_default.jpg" %}"/>
                {% endif %}
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
                <span>{{ movie.description }}</span>
            </div>
        </div>

        {% if movie.movielink_set.all %}
            <section class="content-box">
                <h2 class="headline"><span>Links to movies</span></h2>
                <ul class="list-unstyled table-horizontal url-list">

                    <li class="head">
                        <div class="col-sm-4 col-xs-4">Host</div>
                        <div class="col-sm-4 col-xs-4">Info</div>
                        <div class="col-sm-2 col-xs-2">Hibás link</div>
                        <div class="col-sm-2 col-xs-2">Play</div>
                    </li>
                    {% for link in movie.movielink_set.all %}
                        <li>
                            <div class="col-sm-4 col-xs-4 host">
                                Hardcoded
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                &nbsp;
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                &nbsp;
                            </div>
                            <div class="col-sm-2 col-xs-2">
                                <a href="{{ link }}">{{ link }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% else %}
            <h2 class="headline"><span>No links</span></h2>
        {% endif %}
    </div>
{% endblock %}
