{% extends "core/base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}
    <div class="page-header">
        <h1>{{ movie.title }}</h1>
        <a href="{% url 'movie-list' %}">Vissza a filmekhez</a>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            {% if movie.image_url %}
{#                    {% cloudinary movie.image width=260 height=390 crop="fill" %}#}
                <img class="cover" src="{{ movie.image_url }}"/>
            {% else %}
                <img class="cover" src="{% static "images/_movie_image_default.jpg" %}"/>
            {% endif %}
        </div>
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
            <span>{{ movie.description }}</span>
        </div>
    </div>

    {% if movie.links.all %}
        <section class="content-box">
            <h2 class="headline">
                Linkek a filmekhez
            </h2>
            <table class="table table-hover">
                <tr>
                    <th>Host</th>
                    <th>Info</th>
                    <th>Hibás link</th>
                    <th>Play</th>
                </tr>
                {% for link in movie.links.all %}
                <tr>
                    <td>Hardcoded</td>
                    <td>
                        {% if link.episode_nr %}
                            {{ link.episode_nr }}. episode
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </td>
                    <td>
                        <a href="#" style="color: red;">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{{ link }}" target="_blank">
                            <span class="glyphicon glyphicon-film">{{ link | slice:":20" }}</span>

                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    {% else %}
        <h2 class="headline"><span>No links</span></h2>
        {% endif %}
{% endblock %}
